$font-stack:'ltc-bodoni-175-it', sans-serif;
$font-stack2:'ltc-bodoni-175', sans-serif;

body {
	padding-top: 3%;
	padding-bottom: 5%;
	padding-left: 8%;
	padding-right: 8%;
	font-family: "PT Serif",serif;
	letter-spacing: 0.5px;
	line-height: 1.8em;
	color: #222222;
	-webkit-font-smoothing: antialiased;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.scrollingBanner {
	position: fixed;
	display: none;
	width: 8vw;
	top: 15px;
	left: 0;
}

.scrollinginsta {
	font-size: 60%;
}
	.scrollinginsta a {
		text-decoration: none;
	}

.banner {
	padding-bottom: 5%;
	text-align: center;
}

.bannerImg {
	display: none;
	width: 22%;
	max-width: 300px;
	min-width: 140px;
}

.header {
	width: 102vw;
	margin: auto;
	margin-left: -12%;
}

.headerTitleImg {
	width: 100%;
	margin: auto;
}

.showHeader {
	width: 100%;
	font-family: $font-stack2;
	font-size: 5vw;
}

.showHeaderTitleImg {
	max-width: 900px;
}
	
.footer {
	clear: both;
	width: 80%;
	text-align: center;
	font-size: 11px;
	margin: auto;
	padding-top: 1%;
}

.selfLink {
	text-decoration: none;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: red;
}

.backgroundAbout {
	width: 102vw;
	margin-left: -12%;
	margin-top: -3%;
	background: linear-gradient(#a7c7d6, white);
	height: 9em;
}

.aboutDiv {
	width: 70%;
	margin: auto;
	padding-top: 2%;
}

.about {
	float: right;
	margin-top: 2.6%;
	width: 90%;
	font-size: 11px;
	line-height: 1.3;
	letter-spacing: .15em;
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.posts {
	width: 100%;
}

.individualPost {
	// border: 1px solid black;
 	margin-left: auto;
    margin-right: auto;
	width: 50vw;
	height: 15em;
	margin-bottom: 1%;
}

.indexTitleTxt {
	float: left;
    width: 30%;
    padding: 10px;
}

.individualPost .indexTitleTxt {
	padding-top: 10%;
}

.titleTxt,
.indexTitleTxt {
	font-family: "Courier New";
	font-size: 1.2rem;
	line-height: 1.4;
	text-transform: uppercase;
  	letter-spacing: 2px;
  	word-wrap: break-word;
}

.titleTxt a,
.indexTitleTxt a {
	text-decoration: none;
	color: #222222;
	cursor: pointer;
}

.titleTxt a:hover,
.indexTitleTxt a:hover {
	color: red;
}

.dateTxt {
	font-family: "Montserrat",Helvetica Neue,Helvetica,sans-serif;
 	text-transform: uppercase;
  	letter-spacing: 2px;
  	font-size: 0.625rem;
  	color: #333;
  	line-height: 1;
}

.bodyTxt {
	font-family: "PT Serif",serif;
	font-size: 13px;
	line-height: 1.8em;
	letter-spacing: 0.5px;
	font-weight: normal;
	overflow: scroll;
}

.posts .bodyTxt {
	float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
    opacity: 0.9;
}

.socialShare {
	text-align: right;
}

img {
	width: 100%;
	height: auto;
	text-align: center;
}

.about p {
	text-align: center;
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;	
}

.bannerCredit {
	font-size: 8px;
}

.socialMedia {
	float: left;
	text-align: center;
	width: 10%
}

.icon {
	max-width: 80px;
	padding-top: 6%;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;	
}

.titledItalic {
	font-style: italic;
}





@media (max-width: 527px) {
  .individualPost { 
  	width: 100%; 
  	border: none;
  }
  .indexTitleTxt { display: initial; }
}

@media (max-width: 600px) {
  .about {
  	padding-left: 6%;
  }
  .individualPost .indexTitleTxt{
  	height: 8em;
  	// border: 1px black solid;
  }
  .individualPost .bodyTxt {
  	height: 12.8em;
  	// border: 1px black solid;
  }
  .individualPost {
  	border: 1px black solid;
  }
  .bannerImg { 
  	display: initial;
  	width: 200px;
  }
	.banner .header { display: none; }
}

@media (max-width: 800px) {
	.icon { width: 120px; }
	.bannerCredit { font-size: 10px; }
	.socialMedia { width: 20%; }
	.about { width: 80%; }
}