$font-stack:'ltc-bodoni-175-it', sans-serif;
$font-stack2:'ltc-bodoni-175', sans-serif;

body {
	padding: 6%;
	font-family: "PT Serif",serif;
	letter-spacing: 0.5px;
	line-height: 1.8em;
	color: #222222;
	-webkit-font-smoothing: antialiased;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.banner {
	padding-bottom: 5%;
	text-align: center;
}

.bannerImg {
	display: none;
	width: 22%;
	max-width: 300px;
	min-width: 140px;
}

.banner .header {
	width: 100%;
	font-family: $font-stack2;
	font-size: 5vw;
}

.footer {
	width: 80%;
	margin: auto;
	padding-top: 5%;
	padding-bottom: 10%;
}

.about {
	float: right;
	width: 90%;
	font-size: 11px;
	line-height: 1.3;
	letter-spacing: .15em;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.posts {
	width: 100%;
}

.titleTxt {
	font-family: "ostrich_sansblack",Helvetica Neue,Helvetica,sans-serif;
	font-size: 1.5rem;
	line-height: 1.4;
	text-transform: uppercase;
  letter-spacing: 2px;
}

.titleTxt a {
	text-decoration: none;
	color: #222222;
	cursor: pointer;
}

.dateTxt {
	font-family: "Montserrat",Helvetica Neue,Helvetica,sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.625rem;
  color: #333;
  line-height: 1;
}

.bodyTxt {
	font-family: "PT Serif",serif;
	font-size: 13px;
	line-height: 1.8em;
	letter-spacing: 0.5px;
	font-weight: normal;
}

img {
	width: 100%;
	height: auto;
	text-align: center;
}

.about p {
	text-align: center;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;	
}

.socialMedia {
	float: left;
	text-align: center;
	width: 10%
}

.icon {
	max-width: 60px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;	
}

.titledItalic {
	font-style: italic;
}





@media (max-width: 600px) {
  .about { display: none; }
  .socialMedia { 
  	float: inherit;
  	margin: auto;
  }
  .icon { width: 40px; }
  .bannerImg { 
  	display: initial;
  	width: 200px;
  }
	.banner .header { display: none; }
}

@media (max-width: 800px) {
	.icon { width: 50px; }
}

@media only screen and (min-width: 320px) {
	display: block;
    width: 100%;
    height: 204px;
    position: absolute;
    left: 0px;
    top: 125px;
    background-image: url(images/rotate.png);
    background-size: 250px 204px;
    background-position: center;
    background-repeat: no-repeat;
}
